$primary-color: #0880ae;
$primary-mid-color: #7c9cbf;
$primary-light-color: #e8eff6;
$secondary-color: #ff9f1c;
$third-color: #2cbfbc;
$purple-dark-color: #2c2738;
$purple-light-color: #756f86;
$white-color: #fff;
