@import "colors";

@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

%scroll-btn {
  background: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 4px 10px 0px rgba(255, 159, 28, 0.2);
}

body {
  font-family: "Vazir";
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: auto;
  overflow: hidden;
}

.big-container {
  max-width: 1450px;
  margin: auto;
}

// Navbar
.navbar {
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  &-inner {
    width: 100%;
    background: $purple-dark-color;
    padding: 0.2rem 0;
    border-radius: 2rem;
    z-index: 3;
    box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.2);

    .grid-menu {
      display: grid;
      grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
      img {
        width: 4rem;
      }
      li {
        text-align: center;
        margin: auto;
      }
      #logo {
        width: 4rem;
        height: 4rem;
        margin: auto;
        background: url("../img/desktop/logo.png") no-repeat center center/cover;
      }

      .links {
        color: $white-color;
        text-decoration: none;
        margin: auto;
        font-size: 1.5rem;
        padding-bottom: 0.2rem;
        border-bottom: 2px solid transparent;
        border-radius: 1px;
        transition: all 0.2s ease-in-out;

        &:hover {
          border-bottom-color: $secondary-color;
        }
      }

      .burger {
        display: none;
      }
    }
  }
}

/* showcase */

@media screen and (min-width: 1050px){
  #head-show {
    background: url("../img/desktop/showcase-back.png") no-repeat center
      center/cover;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;

    .showcase {
      width: 100%;
      height: 100vh;
      z-index: -1;

      &-items {
        display: flex;
        padding-top: 11vh;
        @media screen and (max-width: 1366px){
          img {
            flex: 1;
            position: relative;
            height: 70vh;
            width: 70vh;
            //margin-left: -100px;
          }
        }

        @media screen and (min-width: 1920px){
          img {
            flex: 1;
            position: relative;
            margin-left: -100px;
          }
        }

        &-content {
          flex: 1;
          text-align: end;
          padding-right: 1rem;
          padding-left: 10rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          h1 {
            color: $primary-color;
            font-size: 3rem;
            line-height: 1.1;
            font-weight: 900;
            span {
              font-weight: 300;
              font-size: 1.4rem;
              color: $purple-light-color;
            }
          }
        }
      }
    }
    .scroll-btn-down {
      background: $secondary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 40%;
      box-shadow: 0 4px 10px 0px rgba(255, 159, 28, 0.2);
      position: absolute;
      margin: auto;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 40px;
    }
  }

  .line-showcase {
    width: 100%;
    height: 5px;
    background: $primary-light-color;
  }
}

/* Section: Main */

.main-items {
  padding-top: 10rem;

  .main-item-odd {
    display: flex;
    justify-content: space-between;
    height: 650px;
    padding-bottom: 3.5rem;
    &-content {
      text-align: right;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      align-content: flex-start;
      margin-bottom: 5rem;

      h2 {
        font-size: 2.1rem;
        color: $secondary-color;
        max-width: 400px;
      }
      p {
        line-height: 1.7;
        font-size: 1.4rem;
        color: $purple-light-color;
        max-width: 400px;
      }
    }

    &-bg {
      flex: 1;
      position: relative;
      img:first-child {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
      }
      img:last-child {
        position: absolute;
        top: 0;
        right: 100px;
        width: 694px;
        height: 490px;
      }
    }
  }

  .main-item-even {
    display: flex;
    justify-content: space-between;
    height: 650px;
    padding-bottom: 3.5rem;

    &-content {
      order: 2;
      text-align: right;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 5rem;
      h2 {
        font-size: 2.1rem;
        color: $secondary-color;
        max-width: 400px;
      }
      p {
        line-height: 1.7;
        font-size: 1.4rem;
        color: $purple-light-color;
        max-width: 400px;
      }
    }

    &-bg {
      flex: 1;
      position: relative;
      img:first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
      }
      img:last-child {
        position: absolute;
        top: 0;
        left: 100px;
        width: 694px;
        height: 490px;
      }
    }
  }
}

/* Section: Info */

.info {
  width: 100%;
  &-items {
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;

    &-item {
      background: $white-color;
      display: flex;
      border-radius: 10px;
      flex-direction: column;
      padding: 0px;
      justify-content: center;
      text-align: center;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
      transition: all 0.3s ease-in-out;
      opacity: 0.75;
      box-shadow: 0 3px 10px 0 rgba(3, 3, 3, 0.2);
      .line-info {
        height: 10px;
        background: $primary-color;
        border-radius: 10px 10px 0 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }

      &-content {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 2rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        h4 {
          font-size: 2.1rem;
          color: $primary-color;
        }
        p {
          margin-top: 1rem;
          color: $purple-light-color;
          font-size: 1.4rem;
          line-height: 1.5;
          padding-bottom: 1.5rem;
        }
        &-img {
          position: relative;
          margin-bottom: 2rem;
          border: 4px solid $secondary-color;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            height: 50px;
            width: 50px;
          }
        }
      }

      &:hover {
        cursor: default;
        transform: translateY(-30px);
        box-shadow: 0 3px 20px 0 rgba(3, 3, 3, 0.2);
        opacity: 1;
      }
    }
  }
}

/* Footer */

.footer {
  background: $purple-dark-color;

  &-items {
    display: flex;
    flex-direction: column;

    &-title {
      text-align: right;
      padding: 4rem 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      h3 {
        padding-bottom: 1rem;
        font-size: 2.1rem;
        color: $secondary-color;
      }

      p {
        max-width: 800px;
        text-align: right;
        font-size: 1.35rem;
        line-height: 1.8;
        color: $white-color;
        opacity: 0.9;
      }
    }

    &-more {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
      justify-content: center;
      text-align: center;
      padding: 1rem;
      padding-bottom: 5rem;

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
          padding-bottom: 1rem;
          font-size: 1.4rem;
          font-weight: 600;
          color: $white-color;
        }
        .line-footer-more {
          width: 70%;
          height: 3px;
          background: $secondary-color;
          border-radius: 10px;
        }
        ul {
          margin-top: 1.5rem;
          li {
            margin: 1rem;
          }
          a {
            font-size: 1.2rem;
            text-decoration: none;
            color: $white-color;
            img {
              width: 80%;
            }
          }
        }
      }
    }
  }

  &-down {
    .line-footer-down {
      background: $white-color;
      width: 100%;
      height: 3px;
    }

    &-items {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: $white-color;
        span {
          color: $secondary-color;
        }
      }

      .scroll-btn-up {
        @extend %scroll-btn;
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
}
