@import "colors";

// Navbar

.navbar {
  padding: 1rem;
  width: 100%;
  display: inline-block;
  height: 15vh;
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: none;
  .navbar-inner {
    width: 100%;
    background: $purple-dark-color;
    border-radius: 1rem;
    padding: 0rem 0;
    z-index: 3;
    box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.2);

    .grid-menu {
      display: flex;
      flex-direction: row-reverse;
      align-content: center;
      justify-content: center;
      align-items: center;
      li {
        text-align: center;
        margin: auto;
      }
      .menu-logo {
        order: 1;
      }
      #logo {
        width: 3rem;
        height: 3rem;
        background: url("../img/desktop/logo.png") no-repeat center center/cover;
      }

      .links {
        display: none;
        color: $white-color;
        text-decoration: none;
        margin: auto;
        font-size: 1.2rem;
        border-bottom: none;
        border-radius: none;
        transition: none;

        &:hover {
          border-bottom-color: none;
        }
      }

      .burger {
        display: inline-block;
        width: auto;
        padding: 0.2rem;
        border-radius: 15px;
        align-self: center;
        margin: 1rem;
        justify-content: center;
        align-items: center;
        div {
          width: 1.5rem;
          height: 3px;
          margin: 0.4rem;
          border-radius: 5px;
          background: $white-color;
        }
      }
    }
  }
}
 

.opened-navbar {
  padding: 1rem;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 0;
  animation: opn-nav 0.6s ease-in forwards;
  background: rgba(51, 51, 51, 0.397);

  .navbar-inner {
    width: 100%;
    background: $purple-dark-color;
    display: inline-block;
    border-radius: 1rem;
    padding: 0.5rem 0;
    z-index: 3;
    box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.2);

    .grid-menu {
      display: flex ;
      flex-direction: column-reverse;
      li {
        margin-bottom: 1rem;
      }
     

      .links {
        display: inline;
        color: $white-color;
      }

      .burger {
        display: flex;
        width: auto;
        padding: 0.2rem;
        border-radius: 15px;
        margin: 1rem;
        div {
          width: 1.5rem;
          height: 3px;
          margin: 0.4rem;
          border-radius: 5px;
          background: $white-color;
        }
        div:nth-child(1){
          transform: rotate(45deg);
          position: absolute;
        }
        div:nth-child(2){
          opacity: 0;
          position: absolute;
        }
        div:nth-child(3){
          transform: rotate(-45deg);
          position: absolute;
        }
      }
    
    }
  }

  @keyframes opn-nav {
    to{
      height: 100vh;
    }
  }

}

/* head-show */
#head-show {
  z-index: 1;
  .showcase {
    &-items {
      &-content {
        padding: 0.5rem;

        h1 {
          color: $white-color;
          font-size: 1.6rem;
          max-width: 80%;
          span {
            font-size: 1rem;
            font-weight: 400;
            color: $white-color;
          }
        }
      }
    }
  }
  .scroll-btn-down {
    z-index: 1;
    position: relative;
    width: 40px;
    height: 40px;
  }
}

/* Section: Main */

.main-items {
  margin-top: 2rem;
  padding-top: 0;

  .main-item-odd,
  .main-item-even {
    margin-top: 0;
    padding: 0 3rem;
    grid-gap: 0;
    margin-top: 0;

    &-content {
      margin: 0;
      padding: 0;
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

/* Section: Info */

.info {
  padding: 0;
  &-items {
    &-item {
      h4 {
        font-size: 1.9rem;
      }
      p {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
      }
    }
  }
}

/* Section: Footer */

.footer {
  &-items {
    &-title {
      h3 {
        font-size: 1.7rem;
      }

      p {
        font-size: 1rem;
      }
    }

    &-more {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.2rem;

      &-item {
        margin-top: 1rem;
        padding-bottom: 0;
        h4 {
          font-size: 1rem;
        }

        ul {
          margin-top: 1rem;
          li {
            margin: 1rem;
          }
          a {
            font-size: 0.8rem;
            text-decoration: none;
            color: $white-color;
            img {
              width: 100%;
            }
          }
        }
      }

      &-item:first-child {
        img {
          width: 50%;
        }
      }
    }
  }

  &-down {
    .line-footer-down {
      height: 1px;
    }

    &-items {
      padding: 1rem;
      p {
        font-size: 0.8rem;
      }

      .scroll-btn-up {
        width: 40px;
        height: 40px;
      }
    }
  }
}
