@import "colors";

// Navbar

.navbar {
  z-index: 2;
  &-inner {
    padding: 0.2rem 0;

    .grid-menu {
      padding: 0 1rem;
      align-items: center;
      .links {
        font-size: 1.2rem;
        #logo {
          width: 3rem;
          height: 3rem;
        }
      }
    }
  }
}

#head-show {
  background: url("../img/desktop/responsive_back_img.png") no-repeat center
    center/cover;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;

  .showcase {
    background: rgba(51, 51, 51, 0.25);
    width: 100%;
    height: 100%;
    display: flex;
    &-items {
      display: flex;

      img {
        display: none;
      }

      &-content {
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h1 {
          color: $white-color;
          font-size: 2.5rem;
          max-width: 80%;
          span {
            font-size: 1.4rem;
            color: $white-color;
          }
        }
      }
    }
  }
  .scroll-btn-down {
    background: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 40%;
    box-shadow: 0 4px 10px 0px rgba(255, 159, 28, 0.2);
    position: absolute;
    margin: auto;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 10%;
  }
}

/* Section: Main */

.main-items {
  margin-top: 5rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  .main-item-odd,
  .main-item-even {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5rem;
    justify-content: center;
    margin-top: 10rem;
    &-content {
      order: 2;
      text-align: center;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      align-items: center;
      margin-top: 10rem;

      h2 {
        font-size: 2.1rem;
        color: $secondary-color;
        max-width: 400px;
      }
      p {
        line-height: 1.7;
        font-size: 1.4rem;
        color: $purple-light-color;
        max-width: 400px;
      }
    }

    &-bg {
      order: 1;
      flex: 1;
      display: flex;
      position: relative;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      img:first-child {
        width: 100%;
        margin: auto;
        transform: rotate(120deg);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
      }
      img:last-child {
        width: 100%;
        height: auto;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 50px;
        right: 0;
        left: 0;
      }
    }
  }
}

/* Section: Info */

@media (min-width: 950px) {
  .info {
    &-items {
      grid-gap: 2rem;

      &-item {
        p {
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 949px) {
  .info {
    padding: 0 2rem;
    &-items {
      display: flex;
      flex-direction: column;

      &-item {
        p {
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}


/* Section: Footer */

.footer {
  &-items {
    &-title {
      padding: 1rem;
      h3 {
        text-align:center;
        font-size: 1.9rem;
      }

      p {
        max-width: 800px;
        text-align: right;
        font-size: 1.1rem;
        line-height: 1.8;
        color: $white-color;
        opacity: 0.9;
      }
    }

    &-more {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
      justify-content: center;
      text-align: center;
      padding: 1rem;
      padding-bottom: 5rem;

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
          padding-bottom: 1rem;
          font-size: 1.4rem;
          font-weight: 600;
          color: $white-color;
        }
        .line-footer-more {
          width: 70%;
          height: 3px;
          background: $secondary-color;
          border-radius: 10px;
        }
        ul {
          margin-top: 1.5rem;
          li {
            margin: 1rem;
          }
          a {
            font-size: 1.2rem;
            text-decoration: none;
            color: $white-color;
            img {
              width: 80%;
            }
          }
        }
      }
    }
  }

  &-down {
    .line-footer-down {
      background: $white-color;
      width: 100%;
      height: 3px;
    }

    &-items {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        color: $white-color;
        span{
          color: $secondary-color;
        }
      }

      .scroll-btn-up {
        img{
          transform: rotate(180deg);
        }
      }
    }
  }
}
